/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/

process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName: FASTQC {
        ext.args = '--quiet'
    }

    withName: KRAKEN2_KRAKEN2 {
        container = 'quay.io/biocontainers/mulled-v2-5799ab18b5fc681e75923b2450abaa969907ec98:87fc08d11968d081f3e8a37131c1f1f6715b6542-0'
        ext.args = '--report-zero-counts'
        publishDir = [
            [
                path: { "${params.outdir}/cleaned_reads" },
                mode: params.publish_dir_mode,
                pattern: "*unclassified_1.fastq.gz",
                saveAs: { filename -> filename.replace('.unclassified_1', '_R1.clean') }
            ],
            [
                path: { "${params.outdir}/cleaned_reads" },
                mode: params.publish_dir_mode,
                pattern: "*unclassified_2.fastq.gz",
                saveAs: { filename -> filename.replace('.unclassified_2', '_R2.clean') }
            ],
            [
                path: { "${params.outdir}/kraken2" },
                mode: params.publish_dir_mode,
                pattern: "*report.txt"
            ]
        ]
    }

    withName: HUMAN_SCRUBBER_REPORT {
        publishDir = [
            path: { "${params.outdir}/reports" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: COMBINE_REPORTS {
        publishDir = [
            path: { "${params.outdir}/combined_report" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: UNTAR {
        container = 'ubuntu:20.04'
    }

}
